@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&family=Roboto:wght@400;500;700&display=swap')

*
  position: relative
  box-sizing: border-box

html
  font-size: calc(16px * 10 / 16)
  @media (max-width: 1199.98px)
    font-size: calc(15px * 10 / 16)
  @media (max-width: 1024px)
    font-size: calc(14px * 10 / 16)

body
  font-family: 'Noto Sans TC', sans-serif
  font-size: 1.6rem
  -webkit-font-smoothing: antialiased
  letter-spacing: 1.2px
  color: var(--color-gray)

/* ----------------------------------- */
/* ------ Resets ------ */
/* ----------------------------------- */
a
  display: inline-block
  text-decoration: none
  color: inherit
  &:hover
    color: inherit
img
  max-width: 100%

h1, h2, h3, h4, p
  margin: 0
span
  display: block


/* ----------------------------------- */
/* ------ Layouts ------ */
/* ----------------------------------- */
.l-main
  background-color: #fff
section
  padding: var(--space-80) 4vw
  &:not(:first-child)
    border-top: 1px solid var(--color-gray-light)

.container
  max-width: 120rem

.row
  &.--gy
    --bs-gutter-y: var(--space-20)
