.u-ml-auto
  margin-left: auto

.u-ff-en
  font-family: var(--font-en)
  
.u-text-lg
  font-size: 2rem
.u-text-md
  font-size: 1.7rem
.u-text-xs
  font-size: 1.3rem
  
.u-color-primary
  color: var(--color-primary)
.u-color-gray-mid
  color: var(--color-gray-mid)
