.o-btn
  display: flex
  justify-content: center
  margin-top: 4rem
  &__link
    display: flex
    align-items: center
    padding: 0.6rem 2rem
    border: 2px solid var(--color-primary)
    background-color: var(--color-primary)
    color: #fff
    transition: 0.3s
    &:hover
      background-color: transparent
      color: var(--color-primary)
  &__arrow
    margin-right: 0.5rem