.o-title
  margin-bottom: 4rem
  text-align: center
  &__text
    font-size: 3rem
    &::after
      content: ''
      display: block
      +size(1.4rem, 0.3rem)
      margin: 0.8rem auto
      background-color: var(--color-primary)