.l-footer
  &__contact
    padding: 3rem 4vw
    background-color: var(--color-primary)
  &__logo-wrap
    max-width: 100px
    margin: 0 auto
  &__nav
    padding: 2rem 4vw
  @media (max-width: 575.98px)
    margin-top: 12vw