doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //- 教學用網站，因此設置此 meta 防止瀏覽器索引
    meta(name="robots" content="noindex, nofollow")

    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css")
    link(rel="stylesheet" href="css/style.min.css")

    title Bootstrap 基礎應用（Project4） - 簡化版任天堂網站

  body
    nav.navbar.navbar-expand-lg.navbar-dark.c-navbar
      .container-fluid
        a.navbar-brand.c-navbar__brand(href='#') Nintendo
        button.navbar-toggler.c-navbar__toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.c-navbar__btn-box
            li.nav-item
              a.nav-link(aria-current='page' href='#about') 簡介 ABOUT
            li.nav-item
              a.nav-link(href='#pickup') 精選 PICKUP
            li.nav-item
              a.nav-link(href='#contact') 聯繫 CONTACT
    header.l-header
      #carouselExampleControls.carousel.slide(data-bs-ride='carousel')
        .carousel-inner
          .carousel-item.active
            img.d-block.w-100(src='https://www.nintendo.tw/top/img/mario35th_210112_l_tw.jpg' alt='任天堂')
          .carousel-item
            img.d-block.w-100(src='https://www.nintendo.tw/top/img/Sitetop_PC_1440x520.png' alt='任天堂')
          .carousel-item
            img.d-block.w-100(src='https://www.nintendo.tw/top/img/2020_winter_top_banner_l_tw.png' alt='任天堂')
        button.carousel-control-prev(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.visually-hidden Previous
        button.carousel-control-next(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.visually-hidden Next

    main.l-main
      section#about.l-about
        .container
          .row
            .col-md-12
              .o-title
                h2.o-title__zh 簡介
                h2.o-title__en ABOUT
          .row
            .col-md-6.order-md-1.order-2
              .l-about__content
                p 任天堂創立於1889年，是日本的電視遊戲製造商。
                  br
                  | 擁有SUPER MARIO、DONKEY KONG、THE LEGEND OF ZELDA等多款知名的遊戲，至今已在全球售出了超過4億6千萬台的硬體、以及27億套軟體。
            .col-md-6.order-md-2.order-1
              .l-about__img-mask
                img(src="https://www.nintendo.tw/topics/images/thumbs/a_thumb_switch_l.jpg", alt="任天堂")


      section#pickup.l-pickup
        .container
          .row
            .col-md-12
              .o-title
                h2.o-title__zh 精選
                h2.o-title__en PICKUP

          .row.l-pickup__box
            article.col-md-4.col-sm-6.l-pickup__wrap
              a.c-card(href="##")
                .c-card__img-mask
                  img(src="https://www.nintendo.tw/software/img/bnr/tokyo_mirage_sessions_fe_encore_tc.jpg", alt="幻影異聞錄♯FE Encore")
                .c-card__content
                  h3.c-card__title 幻影異聞錄♯FE Encore
                  .c-card__desc
                    span.u-text-small.u-color-primary 盒装版早期購買特典「票夾和文件夾」
                    span.u-text-small.u-color-gray ※數量有限，送完即止。
                  .c-card__bottom
                    .c-card__rating
                      img.c-card__rating-img(src="https://www.nintendo.tw/common/v2_nhl_up/img/software/tw_rating_12plus.svg" alt="分級")
                      img.c-card__rating-img(src="https://www.nintendo.tw/common/v2_nhl_up/img/software/lang/support_cn_tc.svg" alt="語言支援")
                    .c-card__date
                      div
                        span.u-text-small 2020.1.17
                        span.u-text-small.u-color-gray 盒裝版
                      i.fas.fa-arrow-circle-right.c-card__arrow


            article.col-md-4.col-sm-6.l-pickup__wrap
              a.c-card(href="##")
                .c-card__img-mask
                  img(src="https://www.nintendo.tw/software/img/bnr/pokemon_mystery_dungeon_rescue_team_dx.jpg", alt="ポケモン不思議のダンジョン 救助隊DX")
                .c-card__content
                  h3.c-card__title ポケモン不思議のダンジョン 救助隊DX
                  .c-card__desc
                    span.u-text-small.u-color-primary 盒装版早期購買特典「票夾和文件夾」
                    span.u-text-small.u-color-gray ※數量有限，送完即止。
                  .c-card__bottom
                    .c-card__rating
                      img.c-card__rating-img(src="https://www.nintendo.tw/common/v2_nhl_up/img/software/tw_rating_6plus.svg" alt="分級")
                    .c-card__date
                      div
                        span.u-text-small 2020.1.17
                        span.u-text-small.u-color-gray 盒裝版
                      i.fas.fa-arrow-circle-right.c-card__arrow
            article.col-md-4.col-sm-6.l-pickup__wrap
              a.c-card(href="##")
                .c-card__img-mask
                  img(src="https://www.nintendo.tw/software/img/bnr/animal_crossing.jpg", alt="集合啦！動物森友會")
                .c-card__content
                  h3.c-card__title 集合啦！動物森友會
                  .c-card__desc
                    span.u-text-small.u-color-primary 盒装版早期購買特典「票夾和文件夾」
                    span.u-text-small.u-color-gray ※數量有限，送完即止。
                  .c-card__bottom
                    .c-card__rating
                      img.c-card__rating-img(src="https://www.nintendo.tw/common/v2_nhl_up/img/software/tw_rating_6plus.svg" alt="分級")
                      img.c-card__rating-img(src="https://www.nintendo.tw/common/v2_nhl_up/img/software/lang/support_cn_tc.svg" alt="語言支援")
                    .c-card__date
                      div
                        span.u-text-small 2020.1.17
                        span.u-text-small.u-color-gray 盒裝版
                      i.fas.fa-arrow-circle-right.c-card__arrow

            .col-md-12
              .o-btn
                a.o-btn__wrap(href="##")
                  i.fas.fa-arrow-circle-right.o-btn__arrow
                  span.o-btn__text PICKUP一覽

    footer.l-footer
      #contact.l-footer__contact
        .l-footer__logo-wrap
          img.l-footer__logo(src="https://www.nintendo.tw/common/v2_nhl_up/img/ncommon/_common/logo-nintendo.svg")

      nav.navbar.navbar-expand-lg.navbar-light.bg-light.l-footer__nav
        ul.navbar-nav.l-footer__btn-box
          li.nav-item
            a.nav-link(aria-current='page' href='#about') 簡介 ABOUT
          li.nav-item
            a.nav-link(href='#pickup') 精選 PICKUP
          li.nav-item
            a.nav-link(href='#contact') 聯繫 CONTACT
        span.l-footer__copyright.u-text-small © Nintendo (Hong Kong) Ltd.Games are properties of their respective owners.

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js")
