doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //- 教學用網站，因此設置此 meta 防止瀏覽器索引
    meta(name="robots" content="noindex, nofollow")

    //- 防止 Iphone 自訂偵測電話，影響樣式
    meta(name="format-detection" content="telephone=no")
    meta(http-equiv="x-rim-auto-match" content="none")

    //- 網頁 icon
    link(rel="shortcut icon", href="img/logo/favicon.png", type="image/png")
    link(rel="apple-touch-icon", href="img/logo/favicon.png")

    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer")
    link(rel="stylesheet" href="css/style.min.css")

    title Bootstrap 基礎應用 - 簡化版任天堂網站

  body
    nav.navbar.navbar-expand-lg.navbar-dark.l-navbar
      .container-fluid
        a.l-navbar__logo-mask(href="#")
          img(src="img/logo/logo.svg" alt="任天堂 Logo")
        button.navbar-toggler.u-text-lg(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.u-ml-auto
            li.nav-item
              a.nav-link(aria-current="page" href="#about") 簡介 ABOUT
            li.nav-item
              a.nav-link(href="#topics") 最新話題 TOPICS
            li.nav-item
              a.nav-link(href="#contact") 聯繫 CONTACT
    header.l-header
      #carouselExampleControls.carousel.slide(data-bs-ride="carousel")
        .carousel-inner
          .carousel-item.active
            img.d-block.w-100(src="img/banner/banner-splatoon3.webp" alt="任天堂 斯普拉遁")
          .carousel-item
            img.d-block.w-100(src="img/banner/banner-pikmin.webp" alt="任天堂 皮克敏")
          .carousel-item
            img.d-block.w-100(src="img/banner/banner-zelda.webp" alt="任天堂 薩爾達傳說")
        button.carousel-control-prev(type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev")
          span.carousel-control-prev-icon(aria-hidden="true")
          span.visually-hidden Previous
        button.carousel-control-next(type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next")
          span.carousel-control-next-icon(aria-hidden="true")
          span.visually-hidden Next

    main.l-main
      section#about.l-about
        .container
          .o-title.--center
            h2.u-title.o-title__content 簡介
              span.u-ff-en.u-text-xs.u-color-gray-mid.o-title__en ABOUT
          .row.--gy
            .col-md-6.order-md-1.order-2
              .l-about__content
                p 任天堂創立於1889年，是日本的電視遊戲製造商。
                  br
                  | 擁有SUPER MARIO、DONKEY KONG、THE LEGEND OF ZELDA等多款知名的遊戲，至今已在全球售出了超過4億6千萬台的硬體、以及27億套軟體。
            .col-md-6.order-md-2.order-1
              .l-about__img-mask
                img(src="img/about/about.jpg", alt="任天堂")


      section#topics.l-topics
        .container
          .o-title.--center
            h2.u-title.o-title__content 最新話題
              span.u-ff-en.u-text-xs.u-color-gray-mid.o-title__en TOPICS

          .row.--gy
            article.col-md-4.col-sm-6
              a.c-card(href="##")
                .c-card__img-mask
                  img(src="img/topics/topics-fe-encore.jpg", alt="幻影異聞錄♯FE Encore")
                .c-card__body
                  h3.u-text-md.c-card__title 幻影異聞錄♯FE Encore
                  .c-card__desc
                    span.u-text-xs.u-color-primary 盒装版早期購買特典「票夾和文件夾」
                    span.u-text-xs.u-color-gray-mid ※數量有限，送完即止。
                  .c-card__bottom
                    .c-card__rating
                      img(src="img/rating/tw-rating-12plus.svg" alt="分級")
                      img(src="img/rating/support-cn-tc.svg" alt="語言支援")
                    .c-card__date
                      div
                        span.u-text-xs 2020.1.17
                        span.u-text-xs.u-color-gray-mid 盒裝版
                      i.fas.fa-arrow-circle-right.u-color-primary


            article.col-md-4.col-sm-6
              a.c-card(href="##")
                .c-card__img-mask
                  img(src="img/topics/topics-pokemon-mystery.jpg", alt="ポケモン不思議のダンジョン 救助隊DX")
                .c-card__body
                  h3.u-text-md.c-card__title ポケモン不思議のダンジョン 救助隊DX
                  .c-card__desc
                    //- span.u-text-xs.u-color-primary 盒装版早期購買特典「票夾和文件夾」
                    //- span.u-text-xs.u-color-gray-mid ※數量有限，送完即止。
                  .c-card__bottom
                    .c-card__rating
                      img(src="img/rating/tw-rating-6plus.svg" alt="分級")
                    .c-card__date
                      div
                        span.u-text-xs 2020.1.17
                        span.u-text-xs.u-color-gray-mid 盒裝版
                      i.fas.fa-arrow-circle-right.u-color-primary
            article.col-md-4.col-sm-6
              a.c-card(href="##")
                .c-card__img-mask
                  img(src="img/topics/topics-animal-crossing.jpg", alt="集合啦！動物森友會")
                .c-card__body
                  h3.u-text-md.c-card__title 集合啦！動物森友會
                  .c-card__desc
                    span.u-text-xs.u-color-primary 盒装版早期購買特典「票夾和文件夾」
                    span.u-text-xs.u-color-gray-mid ※數量有限，送完即止。
                  .c-card__bottom
                    .c-card__rating
                      img(src="img/rating/tw-rating-6plus.svg" alt="分級")
                      img(src="img/rating/support-cn-tc.svg" alt="語言支援")
                    .c-card__date
                      div
                        span.u-text-xs 2020.1.17
                        span.u-text-xs.u-color-gray-mid 盒裝版
                      i.fas.fa-arrow-circle-right.u-color-primary

            .col-12
              .o-btn.--center.u-mt-40
                a.o-btn__link(href="##")
                  i.fas.fa-arrow-circle-right.o-btn__icon
                  span.o-btn__text PICKUP一覽

    footer.l-footer
      #contact.l-footer__contact
        a.l-footer__logo-mask(href="#")
          img.l-footer__logo(src="img/logo/logo.svg" alt="任天堂 Logo")
        

      nav.navbar.navbar-expand-lg.navbar-light.l-footer__nav
        ul.navbar-nav.l-footer__btn-box
          li.nav-item
            a.nav-link(aria-current="page" href="#about") 簡介 ABOUT
          li.nav-item
            a.nav-link(href="#topics") 最新話題 TOPICS
          li.nav-item
            a.nav-link(href="#contact") 聯繫 CONTACT
        span.u-text-xs.u-color-gray-mid.u-ml-auto © Nintendo Ltd.Games are properties of their respective owners.

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous")
